{{ define "main" }}
{{/*  index page  */}}
<header id="site-header-image" class="img-fluid vh-100" {{ with .Params.header_image }}style="background-image: url({{ . }})"{{ end }}>
    <div id="site-head-container" class="text-center container-fluid px-0">
        <div id="site-logo" class="position-absolute start-50 translate-middle">
            {{ $sections := (.Site.GetPage "/homepage").Pages }}
            {{ range first 1 $sections }}
            <a href='#{{ if (isset .Params "url") }}{{ .Params.url }}{{ else }}{{ .Title | anchorize }}{{ end }}'>
                <img src="/images/logo-neg.svg" alt="Company Logo"> 
            </a>
            {{ end }}
        </div>      
    </div>
    <div id="site-head-content" class="d-flex text-center justify-content-center py-2">    
        {{ range first 1 $sections }}
        <a clas="" href='#{{ if (isset .Params "url") }}{{ .Params.url }}{{ else }}{{ .Title | anchorize }}{{ end }}'>
            <i id='header-arrow' class="fa fa-angle-down"></i>
        </a>
        {{ end }}
    </div>
</header>
{{/*  load main content as onepager  */}}
{{ partial "components/nav.html" . }}
{{ template "onepager.html" . }}
{{ end }}
