<main id="wrap" role="main">
    <div class="row" data-bs-spy="scroll">
        {{ partial "components/sidenav.html" . }}
        <div class="col-md-9 ps-md-0">
            <div id="pages" class="container p-0" data-bs-target="#side-navbar" data-bs-smooth-scroll="true" tabindex="0">
                {{ range $index, $element := .Pages }}
                <div class='page px-md-5
                {{ if (eq $index 0) }}first
                {{ else if (modBool (len .Pages) 2)}}even
                {{ else if eq (modBool (len .Pages) 2) false}}odd
                {{ end }}'>
                    {{ if ne .Params.article false }}
                        {{ partial "components/article.html" . }}
                    {{ else }}
                        {{ partial "components/generic.html" . }}
                    {{ end }}
                </div>
                {{ end }}
            </div>        
        </div>
    </div>
</main>
