<main id="wrap" role="main">
    <div class="row" data-bs-spy="scroll">
        {{ partial "components/sidenav.html" . }}
        <div class="col-md-9 ps-md-0">
            <div id="pages" class="container p-0" data-bs-target="#side-navbar" data-bs-smooth-scroll="true" tabindex="0">
                {{ $sections := .Pages }}
                {{ range $index, $element := $sections }}
                    <div class='page px-0 px-md-2 px-xl-4
                    {{ if eq $index 0 }}first 
                    {{ else if eq (add $index 1) (len $sections ) }} last 
                    {{ else if modBool $index 2 }}even 
                    {{ else if ne (modBool $index 2) true }}odd {{ end }}'>
                        {{ if (eq .Params.type "carousel") }}
                            {{ partial "components/carousel.html" . }}
                        {{ else if (eq .Params.type "generic") }}
                            {{ partial "components/generic.html" . }}
                        {{ else }}  {{/*  default is article  */}}
                            {{ partial "components/article.html" . }}
                        {{ end }}
                    </div>
                {{ end }}
                {{ partial "footer.html" . }} 
            </div>     
        </div>
    </div>
</main>
