<div id='{{ partial "utils/anchor.html" .}}-carousel' class="carousel slide" data-bs-ride="false" data-bs-interval="6000" data-bs-touch="true" data-bs-keyboard="true">
  <a class="unset" type="button" data-bs-slide="next" href='#{{ partial "utils/anchor.html" . }}-carousel'>
    <div class="carousel-inner container-fluid p-0 px-0"> 
      {{ range $index, $element := .Pages }}
      <div class="carousel-item">
        <div class="d-flex">
          <div class="carousel-item-text p-0 blockqoute">
            {{ .Content }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </a> 
</div>