<article id='{{ partial "utils/anchor.html" . }}' class="pt-2 px-2 pt-xl-5 px-xl-5">
    <header class="post-header">
        <h2 class="post-title">{{ .Title }}</h2>
    </header>
    <section class="post-content">
        <div class="container-fluid d-flex mt-md-4">
            <div class="row">
                {{ if isset .Page.Params "page_image" }}
                        <div class="col-lg-7 p-4 shadow">
                            {{ .Content }}
                        </div>
                        <div class="col-lg-5 p-0 ps-lg-3">
                            {{ partial "utils/page_image.html" . }}
                        </div>
                {{ else }}
                    <div class="col-12 shadow">
                        {{ .Content }}
                    </div>
                {{ end }}
            </div>
        </div>

        <div id='{{ partial "utils/anchor.html" . }}-accordion' class="container-fluid mt-5 d-grid gap-3">
            <div class="row">
                {{ range $index, $element := .Pages }}
                    <div class="col-{{ math.Floor (div 12 (len .Parent.Pages)) }} p-0" role="group">
                        <button class="btn-subpage btn shadow {{ if (ne $index 0) }}collapsed{{ end }}" type="radio" data-bs-toggle="collapse" data-bs-target='#{{ partial "utils/anchor.html" . }}'>
                            {{ .Title }}
                        </button>
                    </div>
                {{ end }}
            </div>
            <div class="row">
                {{ range $index, $element := .Pages }}
                    <div class="col-12 p-0">
                        <div class="subpage p-4 shadow collapse {{ if (eq $index 0) }}show{{ end }}" id='{{ partial "utils/anchor.html" . }}' data-bs-parent='#{{if (isset .Parent.Params "url")}}{{ .Parent.Params.url }}{{else}}{{ .Parent.Title | anchorize }}{{end}}-accordion'>
                            {{ .Content }}
                            {{ range .Pages }}
                                {{ .Content }}
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </section>
</article>
