/* 
#################
#     colors    #
################# 
grey-blue: https://coolors.co/222222-ffffff-1c5d99-639fab-bbcde5 
grey-red-yellow: https://coolors.co/333333-d81159-218380-fbb13c-73d2de
grey-yellow-blue: https://coolors.co/333333-fbb13c-f7fff7-6ca6c1-848fa5

https://coolors.co/fbb13c-32908f-333333-e0e0e0-f5f5f5

*/

@font-face {
  font-family: "Moderat";
  src: url(../fonts/Moderat-Regular.woff2);
  font-weight: 200;
}

@font-face {
  font-family: "Moderat";
  src: url(../fonts/Moderat-Bold.woff2);
  font-weight: bolder;
}


:root {
  --primary: #1f3b60;
  --secondary: #fff;
  --highlight: #35A9E1;
  --teritairy: #FBB13C;

  --grey:  #858585;
  --brightgrey: #edecec;
  --black: #333333;
  --white: #fff;

  --text-font-size: calc(1rem + 0.2vw);

  --scroll-offset: 55px;
}

#wrap {
  overflow-x: hidden;
}
/* #################
#     text        #
################# */
body {
  color: var(--black);
}

<<<<<<< HEAD
p, li, th, td, a, h1, h2, h3, h4, h5, h6 {
  font-family: Moderat;
}

p, li, th, td {
=======
p, li, th, td {
  font-family: Moderat;
>>>>>>> main
  font-weight: 200;
  font-size: var(--text-font-size);
}

.display-1 {
  color: var(--primary);
  font-size: calc(1.75rem + .9vw);
  font-weight: bold;
}

h1 {
  color: var(--primary);
  font-size: calc(1.8rem + .4vw);
  font-weight: bold;
}

h2 {
  color: var(--primary);
  font-size: calc(1.8rem + .4vw);
  font-weight: bold;
}

h3 {
  color: var(--highlight);
  font-size: calc(1.4rem + .2vw);
  font-weight: 600;
}

h4 {
  color: var(--primary);
  font-size: calc(1.3rem + .2vw);
  font-weight: 600;
}

h5 {
  color: var(--highlight);
  font-size: calc(1.1rem + 0.1vw);
  font-weight: 500;
}

h6 {
  color: var(--primary);
  font-size: calc(1.1rem + 0.1vw);
  font-weight: 500;
}

.btn {
  border: none;
}

.btn:hover {
  border-bottom: 0.3rem var(--highlight) solid;
}

.btn {
  min-width: 15%;
  border-bottom: 0rem var(--highlight) solid;
  border-radius: 0px;

  font-weight: 600;
}

a{
  text-decoration: none;
  color: var(--black);
  position: relative;
}

a:hover{
  color: var(--black);
}

a::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  a:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

p > a, strong > a  {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
/* #################
#     table        #
################# */

table {
	width: 100%;
	margin-bottom: 1rem;
	vertical-align: top;
}

thead th, thead td {
  font-weight: bold !important;
}

th, td {
  padding: 2px 5px;
}

/* #################
#         nav      #
################# */
#navbar-img {
  width: 100%;
  height: auto;
}

.navbar-brand {
  max-width: 200px;
}

/* disable hover effect on logo */
.navbar-brand::before {
  all: unset;
} 

.navbar-toggler {
  border: none;
}

.navbar-collapse {
  height: unset !important;
}

/* #################
#     header    #
################# */
#site-logo {
  top: 30vh;

  width: 90%;
  max-width: 35rem;
}

/* disable hover effect on logo */
#site-logo > a::before {
  all: unset;
} 

#site-head-content {
  background-color: rgba(31, 59, 96, 0.3);
  height: 100vh;
  width: 100vw;
}

#site-header-image {
    background-size: cover;
    background-position: center;
}

#header-arrow {
  color: #fff;
  font-size: 5rem;
  opacity: 1;

  width: 5rem;

  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  transform: translateX(-50%);

  /* bounce animation  */
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

@keyframes bounce{
  from { transform: translate(-50%, 0)}
  to { transform: translate(-50%, -10px);}
}

@media (min-width: 576px) {
  #slogan h1 {
    max-width: 60%;
  }
}
/* #################
#     content    #
################# */
#pages {
  max-width: 1100px;
  /* border: 0.7rem var(--highlight) solid; */
  border-top: none;
}

.page {
  background-color: var(--secondary);
}

.page-image-div {
  max-height: 33rem;
}

#page_image {
  object-fit: cover;
  object-position: top;
  background-position: center;
}

@media (min-width: 576px) {
.post-title::before {
	content: '';
	background: var(--primary);
  display: inline-block;

  width: 2.5rem;
  height: 4px;

  margin-left: 0.25rem;
  margin-right: 0.75rem;
  margin-top: auto;
  margin-bottom: calc(0.4rem + 0.5vw);
}
}

.page-bg-primary {
  background-color: transparent;
  position: relative;
}

.page-bg-primary .display-1, .page-bg-primary h1, .page-bg-primary h2, .page-bg-primary h4, .page-bg-primary h6, .page-bg-primary p {
  color: var(--white) !important;
}

@media (min-width: 576px) {
  .page-bg-primary .post-title::before {
    background: var(--white);
  }
}

.page-bg-primary::before {
	content: '';
  display: block;
	position: absolute;
	
  background: var(--primary);

  margin-top: var(--scroll-offset);
  margin-left: -1000px;
  margin-right: -1000px;

  left: 0;
  right: 0;
  height: calc(100% - var(--scroll-offset));
  z-index: -1;
}

.no-offset::before {
  height: 100% !important;
  margin-top: 0 !important;
}

/* #################
#      accordion     #
################# */
.accordion-button {
  font-size: var(--text-font-size);
  color: var(--primary) !important;
  font-weight: 600;

  background-color: var(--white) !important;
}

/* do not change collor if open */
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

/* 
.accordion p {
  font-size: 1rem;
} */

/* #################
#      cards       #
################# */
.card {
  border: none;
  border-radius: 0px;
  background-color: var(--brightgrey);
}

.card a {
  color: inherit;
}

.card:hover {
  background-color: var(--primary);
  color: var(--white);
}

.cards-grid-only {
  background-color: unset !important;
  box-shadow: unset !important;
  color: unset !important;
}


/* #################
#     carousel     #
################# */
.carousel {
  min-height: 20rem;
  position: relative;
}

.carousel > a::before {
  all: unset;
} 

.carousel-item-text > blockquote {
  margin-top: 1.5rem;
  margin-left: 2.5rem;
  font-style: italic;
}

@media (max-width: 576px) {
  .carousel {
    min-height: unset;
    padding-bottom: 3rem;
  }

  .carousel-item-text > blockquote  { 
    margin-left: 0rem;
  }
}

blockquote > p {
  font-family: Moderat;
  font-weight: 200;
  font-size: var(--text-font-size);
  color: black;
}

.carousel-clicker [data-bs-target] {
  background-color: #1f3b60;
  left: 0;
  right: 0;
}

/* #################
#      footer      #
################# */
.site-footer {
  background-color: var(--white);
}

/* 
mobile tweeeks

  1. no scroll bars on mobile
*/

@media (max-width: 576px) {
  /* Hide scrollbar for Chrome, Safari and Opera */
  *::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 

  div, img {
    box-shadow: none !important;
  }
}

